body{
  background: #140000;
  font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #fff;
}
h2{
  font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 42px;
    text-transform: uppercase;
    text-align: center;
    color: #f1ab24;
    text-shadow: 0 0 10px 0 #ff0200;
}
