.footer {
backdrop-filter: blur(12px);
  background: linear-gradient(90deg, rgba(255, 18, 18, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.footer-text {
  font-size: 14px;
  margin-bottom: 32px;
  text-align: center;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  font-size: 18px;
  color: #fff;
}

@media only screen and (min-width: 1439px) {
  .footer-container {
    display: flex;
    gap: 126px;
    justify-content: center;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .footer-text {
    margin-bottom: 0;
  }

  .footer-navigation {
    display: flex;
    flex-direction: row;
    gap: 28px;
  }
}