.hero-section{
    background-image: url("/img/hero/mob.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 800px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
.hero-title-img{
    margin: 164px auto 0; 
}
.hero-subtitle{
    font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 28px;
        line-height: 1.2;
        text-align: center;
}
.hero-text{
    margin-top: 32px;
    text-align: center;
       margin-bottom: 44px;
}

@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.hero-btn.pulse {
    animation: pulse-animation 2s infinite;
    transition: transform 0.3s ease;
    display: block;
    width: 338px;
    height: auto;
        margin-left: auto;
            margin-right: auto;
}
@media only screen and (min-width: 1439px) {
 .hero-section{
    background-image: url("/img/hero/desk.png");
 }
 .hero-text{
   width: 606px;
   margin-left: auto;
   margin-right: auto;
 }
}