.hero-section{
    background-image: url("/img/hero/mob.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 800px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
.hero-title-img{
    margin: 164px auto 0; 
}
.hero-subtitle{
    font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 28px;
        line-height: 1.2;
        text-align: center;
}
.hero-text{
    margin-top: 32px;
    text-align: center;
       margin-bottom: 44px;
}

@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.hero-btn.pulse {
    animation: pulse-animation 2s infinite;
    transition: transform 0.3s ease;
    display: block;
    width: 338px;
    height: auto;
        margin-left: auto;
            margin-right: auto;
}
@media only screen and (min-width: 1439px) {
 .hero-section{
    background-image: url("/img/hero/desk.png");
 }
 .hero-text{
   width: 606px;
   margin-left: auto;
   margin-right: auto;
 }
}
.disclaimer-section{
    box-shadow: inset 0 0 32px 0 rgba(0, 0, 0, 0.9);
        background: radial-gradient(37.15% 64.89% at 47.67% 35.16%, #820018 0%, #c30026 100%);
}
.disclaimer-text{
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 2;
        text-transform: uppercase;
        color: #fff;
        margin-top: 22px;
}
@media only screen and (min-width: 1439px) {
.disclaimer-text{
        font-size: 32px;
        line-height: 1.25;
        text-align: center;
}
}
.about-section{
    background-image: url("/img/about/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.about-list{
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.about-item{
    display: flex;
        flex-direction: column;
        gap: 42px;
        align-items: center;
}
@media only screen and (min-width: 1439px) {
    .about-section{
    background-image: url("/img/about/desk.png");
    }
    .about-item{
        flex-direction: row;
    }
    .about-text{
        width: 588px;
    }
    .about-img-two{
        order: 2;
    }
    .about-text-two{
        order: 1;
    }
}
.features-section{
    background: linear-gradient(315deg, #140000 100%);
}
.features-wrapper{
    display: flex;
    flex-direction: column;
    gap: 42px;
    align-items: center;
}
.features-list{
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 34px;
}
.features-item{
    display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px;
        gap: 12px;
}

.features-text{
    text-align: center;
}
@media only screen and (min-width: 1439px) {
    .features-wrapper{
        flex-direction: row;
    
    }
    .features-list{
        width: 589px;
        padding: 0;
        gap: 20px;
    
    }
    .features-img{
    height: 641px;
    width: 100%;
    }
}
.bonus-section{
    background-image: url("/img/bonus/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.bonus-list{
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.bonus-item{
    display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
       
}
.title-span{
    margin-left: 10px;
}
.bonus-text{
    margin-top: 12px;
    text-align: center;
}
.bonus-container{
    padding-bottom: 60px;
}
@media only screen and (min-width: 1439px) {
  .bonus-section{
    background-image: url("/img/bonus/desk.png");
  }
  .bonus-desk{
    display: none;
  }
  .bonus-list{
    margin-top: 50px;
    flex-direction: row;
    justify-content: center;
  }
  .bonus-item{
    width: 329px;
  }
  .bonus-text{
    margin-top: 22px;
  }
}
.demo-section{
    background-image: url("/img/demo/mob.png");
        background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
}
.ifram-wrapper {
    position: relative;
}

.hidden-close-btn {
    display: none;
    position: absolute;
    top: 2px;
    right: 10px;
    background-color: inherit;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    z-index: 10;
}
.demo-container{
    padding-top: 40px;
}
.demo-title{
    margin-bottom: 22px;
    line-height: 1.2;
}
.demo-text{
    margin-top: 12px;
}
.demo-desk{
    display: none;
}
@media only screen and (min-width: 1439px) {
    .demo-section {
        background-image: url("/img/demo/desk.png");
    }
    .demo-container{
        padding-top: 50px;
    }
    .demo-title{
        display: none;
    }
    .demo-desk{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 32px;
    }
.demo-img{
    margin-left: auto;
    margin-right: auto;
}
    .demo-text{
        margin-top: 32px;
     text-align: center;
    }
}